<div class="copy-block row">
    <div class="large-12 columns">
        <div>
            <h4>Platinum Partner</h4>
        </div>
        <div class="platinum-partner">
            <a href="http://www.ndcoslo.com/" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-ndc.png")" alt="NDC" />
            </a>
        </div>
    </div>
</div>


<div class="copy-block row">
    <div class="large-12 columns">

        <div>
            <h4>Gold Sponsors</h4>
        </div>

        <div class="gold-sponsor">

            <a href="http://www.xero.com/au/" target="_blank" class="narrow">
                <img src="@Url.Content("~/Content/images/sponsor-xero-large.png")" alt="Xero" />
            </a>
            <a href="http://www.getseq.net/" target="_blank" class="narrow">
                <img src="@Url.Content("~/Content/images/sponsor-seq.png")" alt="Seq" />
            </a>
            <a href="http://bit.ly/Nintex-Labs" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-nintex.png")" alt="Nintex"/>
            </a>

            <a href="http://gooroo.io/" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-gooroo.png")" alt="Gooroo"/>
            </a>
            
            <a href="http://kiandra.com.au/" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-kiandra-large.png")" alt="Kiandra IT"/>
            </a>
            <a href="http://www.seek.com.au/work-for-seek" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-seek.png")" alt="Seek"/>
            </a>
            <a href="http://readify.net/" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-readify.png")" alt="Readify"/>
            </a>
            <a href="http://pluralsight.com/" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-pluralsight.png")" alt="Pluralsight"/>
            </a>
        </div>
    </div>
</div>


<div class="sponsor-row">
    <div class="row">
        <div class="large-6 columns">
            <h5>Developer Recharge (Coffee) sponsored by</h5>
            <a href="http://www.pansoftware.com.au/" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-pan.png")" alt="Pan Software"/>
            </a>
        </div>
        <div class="large-6 columns">
            <h5>Afterparty sponsored by</h5>
            <a href="http://pageuppeople.com/" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-pageup.png")" alt="PageUp People"/>
            </a>
        </div>
    </div>
</div>

<div id="map">
    <div id="map-view"></div>
    <div id="map-overlay">
        <h3>Swinburne University of Technology</h3>
        <h4>John Street, Hawthorn, Victoria 3122</h4>
    </div>
</div>

<div class="copy-block row">
    <div class="large-12 columns">

        <div>
            <h4>Silver Sponsors</h4>
        </div>

        <div class="silver-sponsor">
            <a href="http://buzzconf.io/" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-buzzconf.png")" alt="BuzzConf"/>
            </a>

            <a href="http://www.ssw.com.au/" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-ssw.png")" alt="SSW"/>
            </a>

            <a href="http://www.compass.edu.au/" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-compass.png")" alt="Compass Education" />
            </a>
        </div>
    </div>
</div>

<div class="sponsor-row">
    <div class="row">
        <a href="http://aspose.com/" target="_blank">
            <img src="@Url.Content("~/Content/images/sponsor-aspose.png")" alt="Aspose"/>
        </a>
        <a href="http://jetbrains.com/" target="_blank">
            <img src="@Url.Content("~/Content/images/sponsor-jetbrains.png")" alt="Jetbrains"/>
        </a>
    </div>
</div>
