<div class="copy-block row">
    <div class="large-12 columns">
        <div>
            <h4>Platinum Partner</h4>
        </div>
        <div class="platinum-partner">
            <a href="https://www.liberty.com.au/" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-liberty.png")" alt="Liberty Financial" />
            </a>
        </div>
    </div>
</div>


<div class="copy-block row">
    <div class="large-12 columns">

        <div>
            <h4>Gold Sponsors</h4>
        </div>

        <div class="gold-sponsor">
            <a href="http://ndcsydney.com/" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-ndc.png")" alt="NDC"/>
            </a>

            <a href="http://www.nintex.com/" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-nintex.png")" alt="Nintex" />
            </a>

            <a href="http://www.telerik.com/" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-telerik.png")" alt="Telerik"/>
            </a>

            <a href="http://pageuppeople.com/" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-pageup.png")" alt="PageUp People"/>
            </a>

            <a href="http://readify.net/" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-readify.png")" alt="Readify"/>
            </a>

            <a href="https://gooroo.io/" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-gooroo.png")" alt="Gooroo" />
            </a>

            <a href="https://www.microsoft.com/" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-microsoft.png")" alt="Microsoft" />
            </a>
        </div>
    </div>
</div>


<div id="map">
    <div id="map-view"></div>
    <div id="map-overlay">
        <h3>Monash University Caulfield Campus</h3>
        <h4>900 Dandenong Rd, Caulfield East, VIC 3145</h4>
    </div>
</div>

<div class="copy-block row">
    <div class="large-12 columns">

        <div>
            <h4>Silver Sponsors</h4>
        </div>

        <div class="silver-sponsor">
            <a href="https://octopus.com/" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-octopusdeploy.png")" alt="Octopus Deploy"/>
            </a>

            <a href="http://www.seek.com.au/" target="_blank" class="narrow">
                <img src="@Url.Content("~/Content/images/sponsor-seek.png")" alt="SEEK"/>
            </a>

            <a href="http://www.webjet.com.au/" target="_blank" class="narrow">
                <img src="@Url.Content("~/Content/images/sponsor-webjet.png")" alt="Webjet"/>
            </a>
        </div>
        <div class="silver-sponsor">
            <span>
                <a href="http://www.pansoftware.com.au/" target="_blank" class="narrow">
                    <img src="@Url.Content("~/Content/images/sponsor-pan.png")" alt="Pan Software" />
                    <small>Developer Recharge (Coffee) by:</small>
                </a>
            </span>
        </div>
    </div>
</div>

<div class="sponsor-row">
    <div class="row">
        <a href="http://aspose.com/" target="_blank">
            <img src="@Url.Content("~/Content/images/sponsor-aspose.png")" alt="Aspose"/>
        </a>
        <a href="http://xam-consulting.com/" target="_blank">
            <img src="@Url.Content("~/Content/images/sponsor-xamconsulting.png")" alt="XAM Consulting"/>
        </a>
        <a href="http://pluralsight.com/" target="_blank">
            <img src="@Url.Content("~/Content/images/sponsor-pluralsight.png")" alt="Pluralsight"/>
        </a>
    </div>
</div>
