@*<div class="copy-block row">
    <div class="large-12 columns">
        <div>
            <h4>Platinum Partner</h4>
        </div>
        <div class="platinum-partner">
            <a href="http://www.ndcoslo.com/" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-ndc.png")" alt="NDC" />
            </a>
        </div>
    </div>
</div>*@


<div class="copy-block row">
    <div class="large-12 columns">

        <div>
            <h4>Gold Sponsors</h4>
        </div>

        <div class="gold-sponsor">
            <a href="http://ndcsydney.com/" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-ndc.png")" alt="NDC"/>
            </a>

            <a href="http://www.nintex.com/" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-nintex.png")" alt="Nintex" />
            </a>


            <a href="http://www.telerik.com/" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-telerik.png")" alt="Telerik"/>
            </a>

            <a href="http://pageuppeople.com/" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-pageup.png")" alt="PageUp People"/>
            </a>

            <a href="http://readify.net/" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-readify.png")" alt="Readify" />
            </a>

            @*<a href="https://www.microsoft.com/" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-microsoft.png")" alt="Microsoft" />
            </a>*@
        </div>
    </div>
</div>


@*<div class="sponsor-row">
    <div class="row">
        <div class="large-6 columns">
            <h5>Developer Recharge (Coffee) sponsored by</h5>
            <a href="http://www.pansoftware.com.au/" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-pan.png")" alt="Pan Software"/>
            </a>
        </div>
        <div class="large-6 columns">
            <h5>Afterparty sponsored by</h5>
            <a href="http://pageuppeople.com/" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-pageup.png")" alt="PageUp People"/>
            </a>
        </div>
    </div>
</div*@

<div id="map">
    <div id="map-view"></div>
    <div id="map-overlay">
        <h3>Swinburne University of Technology</h3>
        <h4>John Street, Hawthorn, Victoria 3122</h4>
    </div>
</div>

<div class="copy-block row">
    <div class="large-12 columns">

        <div>
            <h4>Silver Sponsors</h4>
        </div>

        <div class="silver-sponsor">
            <a href="https://octopus.com/" target="_blank">
                <img src="@Url.Content("~/Content/images/sponsor-octopusdeploy.png")" alt="Octopus Deploy"/>
            </a>
        </div>
    </div>
</div>

<div class="sponsor-row">
    <div class="row">
        <a href="http://aspose.com/" target="_blank">
            <img src="@Url.Content("~/Content/images/sponsor-aspose.png")" alt="Aspose"/>
        </a>
    </div>
</div>
