@using DevDevDev.Models
<div class="copy-block row">
    <div class="large-8 columns">
        <h4>@EventConfig.EventTitle</h4>

        <p>
            DDD Melbourne is a non profit community event run by developers for developers. Anyone can submit a session to the event and delegates then vote on the sessions they want to see.
        </p>

        <p>
            @*@Html.RouteLink("Vote for sessions", "vote", null, new { @class = "button" })*@

            @Html.RouteLink("Submit Session", "submit-a-session", null, new{@class="button"})
            &nbsp;&nbsp;
            @Html.RouteLink("View sessions submitted", "view-sessions", null, new {@class = "button secondary"})

            @*@Html.RouteLink("View Agenda", "agenda", null, new {@class = "button"})<br/>
            or track the event on <a href="http://lanyrd.com/2015/dddmelb/" target="_blank">Lanyrd</a>*@
        </p>

        @*<p>
            <a class="button secondary" href="https://docs.google.com/document/d/1sVO0K4w20URdBnPl_s1Ryp7_WkrrilnIY3l85isdX2E">View the conference guide</a>
        </p>

        <p>
            Sorry, tickets have sold out! If you missed out on DDD Melbourne, please consider attending <a href="https://dddperth.com/" target="_blank">DDD Perth</a> or <a href="http://dddbrisbane.com/" target="_blank">DDD Brisbane</a>.
        </p>*@

        <div class="booking-frame">
            <iframe src="//eventbrite.com.au/tickets-external?eid=25873934635&ref=etckt" frameborder="0" height="320" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
        </div>
        <div class="booking-link">
            @Html.RouteLink("Register for DDD Melbourne 7", "register", null, new { @class = "button" })
        </div>

    </div>

    <div class="large-4 columns">
        <div class="panel">
            <h4>@EventConfig.EventDateDescription</h4>
            <ul>
                <li>One Day</li>
                <li>Fully Catered</li>
                <li>Industry-leading Presenters</li>
                <li>Only $49</li>
            </ul>
        </div>
    </div>

    <div class="large-4 columns">

        @Html.Partial("ImportantDates")

    </div>
</div>
