@model DevDevDev.Models.SubmittedSessionsViewModel




<div id="config" 
    data-sessions-url="@Url.Action("GetSessionsAsJson")" 
    data-submit-votes-url="@Url.Action("SubmitVote")"
    data-voted-successfully-url="@Url.Action("VotedSuccessfully")"
     data-voted-failure-url="@Url.Action("VotingFailure")"
     data-validate-with-eventbrite="@Model.ValidateWithEventbrite"
    class="copy-block row" ng-app="ddd">
    
    <div class="large-12 columns">
        <h4>Vote for Sessions</h4>
    </div>
    

    <div class="small-12 columns" ng-controller="votingCtrl">
    
        <p>
           <strong ng-if="validateWithEventbrite === 'False'">For your convenience voting is not restricted & we dont require registration but we can still see cheaters!</strong> 
           <strong ng-if="validateWithEventbrite">In order to make this the best conference we can for ticket holders, we require you to have purchased a ticket to vote. Please enter your order number and the associated ticket email address in the boxes below.</strong> 
        </p> 

        <p ng-cloak>
            Please select the {{viewModel.MaxNumberOfVotes}} sessions you most want to see and then click the Submit Votes button to submit your choices.
        </p>

        <p>
            <label id="showFullDescriptionLabel" for="showFull">Show full description of sessions</label>  <input id="showFull" type="checkbox"  ng-model="showFull" />
        </p>

        <div class="votes-remaining row" data-magellan-expedition="fixed">
            <div class="small-centered large-centered medium-centered columns">
                <div class="row">
                    <span class="large-12" ng-cloak>Votes remaining: {{viewModel.TotalVotes}}</span>
                </div>
                <br/>
                <div ng-if="validateWithEventbrite">
                    <div class="row">
                        <div class="large-offset-1 large-2 columns">
                            <label for="orderNumber" class="inline">Order Number</label>
                        </div>
                        <div class="large-7 columns end">
                            <input type="text" id="orderNumber" required ng-model="viewModel.orderNumber"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-offset-1 large-2 columns">
                            <label for="orderEmail" class="inline">Order Email</label>
                        </div>
                        <div class="large-7 columns end">
                            <input type="email" id="orderEmail" required ng-model="viewModel.orderEmail"/>
                        </div>
                    </div>
                </div>
                        <button id="submit-votes" ng-disabled="areWeSubmittingVotes" ng-click="submit(viewModel.SessionsToVoteFor, viewModel.orderNumber, viewModel.orderEmail)" ng-cloak>{{areWeSubmittingVotes ? 'Submitting..' : 'Submit votes'}}</button>
            </div>
        </div>

        <section ng-show="sessionsLoaded == false">
          
            <style>
                @@-webkit-keyframes rotate {
              from {
                -webkit-transform: rotate(0deg);
              }
              to {
                -webkit-transform: rotate(359deg);
              }
   
            }
            .spin-lars {
              margin-left: 100px;
              -webkit-animation-name: rotate;
              -webkit-animation-duration: 0.9s;
              -webkit-animation-iteration-count: infinite;
              -webkit-transition-timing-function: linear;
            }

            </style>

            <p>
                Loading sessions..
                <img src="~/Content/images/larsSmall.jpg" class="spin-lars"/>
            </p>

        </section>

        <section ng-show="sessionsLoaded == true" ng-repeat="session in viewModel.SessionsToVoteFor" ng-cloak>

            <div ng-class="{selected: session.VotedFor}">

                <h5><a ng-click="session.ShowDescription=!session.ShowDescription" href="javascript:void(null);" title="Toggle session description">{{session.SessionTitle}}</a></h5>

                <div ng-show="showFull || session.ShowDescription">
                    <p>
                        {{session.PresenterName}}
                        <span>[<a href="http://www.twitter.com/{{session.PresenterTwitterAlias}}">{{session.PresenterTwitterAlias}}</a>]</span>

                        <br />
                        <a href="{{'http://' + session.PresenterWebsite}}">{{session.PresenterWebsite}}</a>

                    </p>

                    <p ng-bind-html-unsafe="session.SessionAbstract"></p>
                </div>
                <button ng-disabled="session.VotedFor" ng-click="vote(session)">Vote</button>
                <button ng-disabled="!session.VotedFor" ng-click="unvote(session)">Cancel Vote</button>

                <hr />
            </div>

        </section>

    </div>
    
</div>

@section optionalScripts
{
    @Scripts.Render("~/bundles/angular")
  
    <script src="~/Scripts/app/votingCtrl.js"></script>
}
